#appendList {
	font-family: serif;
	font-size: 20pt;
	font-weight: italic;
	color: red;
	text-align: center;
}

.btn {
	width: 35%;
}

h1,h2 {
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

.well {
	background-color: #f2f2f2;
}
